<!-- Edit form -->
  <div ng-show="ctrl.accountDetails;" class="accountPage">
    <!-- <div ng-hide="ctrl.viewUserExes"> -->

    <button ng-click="ctrl.editUserForm(); ctrl.getUserExButton = ! ctrl.getUserExButton; showEditModal = ! showEditModal;" ng-show="ctrl.loggedIn; ctrl.editUserButton">Edit User</button>
    <div ng-show="showEditModal" class="ng-modal-overlay ng-modal-edit">
      <h3>Edit</h3>
      <form class="editForm" ng-show="ctrl.editUserDets;" ng-submit="ctrl.updatedUser(ctrl.updatedUser.username, ctrl.updatedUser.password)">
        <input type="text" placeholder="{{ ctrl.userPass.username }}" ng-model="ctrl.updatedUser.username">
        <input type="password" ng-model="ctrl.updatedUser.password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal" ng-click="showEditModal = ! showEditModal">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showEditModal = ! showEditModal">Cancel</button>
      </form>

    <!-- Delete user button -->
      <form ng-show="ctrl.editUserDets" ng-submit="ctrl.deleteUser(userPass)" accept-charset="UTF-8" action="/users/1" method="delete">
        <input name="_method" type="hidden" value="destroy"/>
        <button>Delete User</button>
      </form>
  <!-- </div> -->
  </div>

  <!-- user saved exercises -->
      <button ng-show="ctrl.loggedIn; ctrl.getUserExButton" ng-click="ctrl.getUserExercises(); ctrl.accountDetails =! ctrl.accountDetails; ctrl.editUserButton = ! ctrl.editUserButton">Get my exercises</button>
      <button ng-show="ctrl.loggedIn; ctrl.hideUserExes">Hide my exercises</button>

      <!-- user exercise section -->



      <!-- <div ng-repeat="user_ex in ctrl.returnedGroup track by $index">
        <h3>{{ user_ex.exercise.img }}</h3>
        <h3>{{ user_ex.exercise.exercisename }}</h3>
        <p>{{ user_ex.exercise.desc }}</p>
      </div> -->
    </div>
