<!-- Groups section -->
<div class="groupsPage" ng-show="ctrl.groups;">
  <button class="categoryButton" ng-click="ctrl.getGroups(); ctrl.exByGroup = ! ctrl.exByGroup; ctrl.exercises = ! ctrl.exercises; ctrl.muscles = ! ctrl.muscles" ng-show="ctrl.showGroupList">Click to see groups</button>
  <button class="categoryButton" ng-show="ctrl.hideGroupList" ng-click="ctrl.groupsVisible = ! ctrl.groupsVisible; ctrl.showGroupList = ! ctrl.showGroupList; ctrl.hideGroupList = ! ctrl.hideGroupList; ctrl.exByGroup = ! ctrl.exByGroup; ctrl.exercises = ! ctrl.exercises; ctrl.muscles = ! ctrl.muscles">Hide groups</button>
  <div ng-show="ctrl.groupsVisible"  class="musclesPageBG">
    <ul>
    <li class="individualListing" ng-repeat="group in ctrl.group track by $index" >
      <h3><a href="#" ng-click="showGroupDetails = ! showGroupDetails; showIndividualModal = ! showIndividualModal;">{{ group.groupname }}</a></h3>
      <div ng-show="showIndividualModal" class="ng-modal-overlay ng-modal-individual">
        <div ng-show="showGroupDetails">
          <h4>{{ group.body.musclename }}</h4>
          <h4>{{ group.exercise.exercisename }}</h4>
          <p>{{ group.exercise.desc }}</p>
          <!-- <p>{{ group.exercise.duration }}</p> -->

        </div>
        <form ng-submit="ctrl.deleteGroup(group.id)" accept-charset="UTF-8" method="delete">
          <input name="_method" type="hidden" value="destroy"/>
          <button ng-show="ctrl.adminLogin">Delete {{ group.groupname }}</button>
<br/>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showIndividualModal = ! showIndividualModal">Cancel</button>
        </form>
      </div>
    </li>
  </ul>

  </div>

  <div ng-click="ctrl.showDropdowns = ! ctrl.showDropdowns; ctrl.muscleSection = ! ctrl.muscleSection; ctrl.exerciseSection = ! ctrl.exerciseSection; ctrl.getBodiesAdmin(); ctrl.getExercises(); ctrl.addGroupButtonClicked = ! ctrl.addGroupButtonClicked">
    <h3 ng-show="ctrl.adminLogin" class="addNew">Add a new group</h3>
  </div>
  <div ng-show="ctrl.showDropdowns">
    <form ng-submit="ctrl.createGroup(newGroup)">
      <select name="group[body_id]" ng-model="newGroup.body_id">
      <option ng-repeat="body in ctrl.body track by $index" value="{{ body.id }}">{{ body.musclename }}</option>
      </select>
      <select name="group[exercise_id]" ng-model="newGroup.exercise_id">
      <option ng-repeat="exercise in ctrl.exercise" value="{{ exercise.id }}">{{ exercise.exercisename }}</option>
      </select>
      <input type="text" placeholder="name" ng-model="newGroup.groupname"/>
      <input type="submit">
    </form>
  </div>
</div>
